h1 {
    color: chocolate;
    background-color: cornsilk;
    text-align: center;
    border: 4px red dashed;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;

    width: auto;
}

p{
    color:brown;
    background-color:cornsilk;
    border: 1px red solid;
    padding: 30px;
    line-height: 30px;
}
#Terserah {
    background-image: url("../Images/Background_Chocolate.jpeg");
    background-size: cover;  
}
#Terserah h1 {
    background-color: transparent;
    border: none;
    color:darkred
}

#kotaksatu {
    width: 50px;
    height: 50px;
    background-color: green;
    display: inline-block;
}

#kotakdua {
    width: 50px;
    height: 50px;
    background-color:yellow;
    display: inline-block;
}

#lingkaran {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: gold;
    display:block;
}

#Persegipanjang {
    width: 100px;
    height: 50px;
    background-color: darkgoldenrod;
    display: block;
}